* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bwa {
    display: flex;
   
    background-color: blueviolet;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: space-between;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    
}


@media screen and (max-width:600px) {
    .bwa {

        display: grid;
        /* height: 20px;
        padding: 8px 8px 8px 40px;
        margin-bottom: 100px; */
    }
    
  }
  

/* .halal {
    display: flex;
   
    
    text-align: center;
    
    align-items: center;
    justify-content: center;
    word-spacing: 0.3rem;
    letter-spacing: 0.1rem;
    
}

.halal h2 {
    padding: 10px;
} */

.menu {
    text-align: center;
    margin-top: 20px;
    background-color: purple;
    color: white;
    margin-bottom: 20px;
}

.grid-container{
    display: grid;
   grid-template-columns: auto auto auto auto ; 
   grid-template-rows: 120px 120px 80px 40px;

   grid-column-gap: 10px;
   background-color: slateblue;
   grid-row-gap: 10px;
 
}

.grid-container > div {
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    
    
    
}

.grid-container img {
    width: 120px;
    height: 60px;
    border-radius: 5px;
    margin-top: 2px;
}

@media screen and (max-width:600px) {
    @media screen and (max-width:600px) {
        .grid-container {
            
            display: block;
            
            
        }
        
      }
      
    
  }
  


.bio {
    color: rgb(15, 0, 128);
    background-color: rgb(119, 0, 255);
    
}

.order {
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
}

.email  {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    text-align: center;

} 


.call {
    background-color: rgba(217, 230, 230, 0.735);
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    
}


.foot {
    background-color: yellowgreen;
    text-align: center;
}

.footer-desc{
    text-align: center;
    color: white;
}





